/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.light-board {
    display: inline-block;
    margin-top: 20px;
}

.light-row {
    display: flex;
}

.light-cell {
    align-items: center;
    border: 2px solid #222;
    color: #222;
    display: flex;
    font-size: 20px;
    height: 70px;
    justify-content: center;
    margin: 4px;
    text-decoration: none;
    width: 70px;
}

.light-cell:hover {
    color: #222;
    text-decoration: none;
}

.light-cell-on {
    background: gold;
}

.light-cell-off {
    background: dimgray;
}
