@model WebHello.Models.DialogViewModel

@{
    ViewBag.Title = "Dialog";
}

<main>
    <h2>Диалог</h2>

    @using (Html.BeginForm())
    {
        <div>Представьтесь, пожалуйста: @Html.EditorFor(m => m.Name)</div>

        <div><input type="submit" value="Привет!" class="btn btn-primary" /></div>
    }
</main>