<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework"
				 type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				 requirePermission="false" />
	</configSections>

	<connectionStrings>
		<add name="PacmanConnection"
		   connectionString="Host=localhost;Port=5432;Database=PacmanGameDB;Username=postgres;Password=admin123"
		   providerName="Npgsql" />
	</connectionStrings>

	<entityFramework>
		<providers>
			<provider invariantName="Npgsql"
					  type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
		</providers>
	</entityFramework>

	<system.data>
		<DbProviderFactories>
			<remove invariant="Npgsql" />
			<add name="Npgsql Data Provider"
				 invariant="Npgsql"
				 description=".Net Data Provider for PostgreSQL"
				 type="Npgsql.NpgsqlFactory, Npgsql" />
		</DbProviderFactories>
	</system.data>
</configuration>