@{
    ViewData["Title"] = "Register";
}
<h2>Register</h2>
<form method="post">
    <label>Username:</label><br />
    <input type="text" name="username" /><br />
    <label>Password:</label><br />
    <input type="password" name="password" /><br />
    <button type="submit">Register</button>
</form>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<p>Already have an account? <a href="/Account/Login">Login</a></p>