/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* Стили для лабиринта */
.maze-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.maze-grid {
    display: inline-block;
    border: 5px solid #333;
    background-color: #eee;
}

.maze-row {
    display: flex;
}

.cell {
    width: 30px; /* Размер клетки */
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.wall {
    background-color: #2F4F4F; /* DarkSlateGray */
}

.path {
    background-color: #fff;
}

.player {
    background-color: #90EE90; /* LightGreen */
    color: #006400; /* DarkGreen */
    font-weight: bold;
}

.exit {
    background-color: #FFD700; /* Gold */
    color: #FF8C00; /* DarkOrange */
}

#statusText {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}