
@{
    ViewBag.Title = "Index";
}

<main>
    <h2>Привет!</h2>

    <h3>Всем доброго дня!</h3>

    <div>@Html.ActionLink("Привет!", "Hello", "Greeting")</div>

    @if (!string.IsNullOrEmpty(ViewBag.Greeting))
    {
        <div>@ViewBag.Greeting</div>
    }
</main>
