<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="main" connectionString="Server=localhost;Port=5432;Database=FifteenGame;User Id=postgres;Password=2ylT8W08;"/>
		
	</connectionStrings>
</configuration>