@{
    ViewBag.Title = "Главная";
}

<div class="jumbotron">
    <h1>Японский кроссворд</h1>
    <p class="lead">Решайте головоломки, развивайте логическое мышление и получайте удовольствие от игры!</p>
    <p>@Html.ActionLink("Начать игру »", "Index", "Game", null, new { @class = "btn btn-primary btn-lg" })</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Правила игры</h2>
        <p>Японский кроссворд - это головоломка, в которой нужно раскрасить клетки сетки согласно числам сбоку и сверху.</p>
        <p>Числа указывают, сколько подряд идущих клеток нужно закрасить в соответствующей строке или столбце.</p>
    </div>
    <div class="col-md-4">
        <h2>Особенности</h2>
        <p>Игра имеет 5 попыток на ошибки. При ошибочном клике появляется красный крестик.</p>
        <p>При полном угадывании строки или столбца подсказка и клетки меняют цвет.</p>
    </div>
    <div class="col-md-4">
        <h2>Размер сетки</h2>
        <p>Текущая версия игры имеет сетку 15x15 клеток с заранее заданным изображением.</p>
        <p>Попробуйте разгадать скрытую картинку!</p>
    </div>
</div>