@model FifteenGame.Web.Models.GameViewModel

@{
    ViewBag.Title = "Match-3";
}

<h2>Match-3</h2>

@if (Model.IsFinished)
{
    <h3 class="text-success">
        Игра окончена!
    </h3>

    <a class="btn btn-success" href="@Url.Action("NewGame", "Game")">
        Начать заново
    </a>
}

<h3>Очки: @Model.MatchesCount</h3>

<table class="table table-bordered text-center" style="width: auto;">
    @for (int row = 0; row < Model.RowCount; row++)
    {
        <tr>
            @for (int col = 0; col < Model.ColumnCount; col++)
            {
                var cell = Model.Cells[row, col];

                <td>
                    <a href="@Url.Action("Select", "Game", new { row = row, col = col })">
                        @if (!cell.IsEmpty)
                        {
                            <img src="@Url.Content("~/Content/img/" + cell.ImageName + ".png")"
                                 width="64"
                                 height="64" />
                        }
                    </a>
                </td>
            }
        </tr>
    }
</table>
