@{
    ViewBag.Title = "Главная";
}

<main>
    <h1>Сапёр</h1>
    <p>Учебная web-версия игры «Сапёр», перенесённая в структуру MVC-проекта из базы преподавателя.</p>
    <p>@Html.ActionLink("Начать игру", "Index", "Game", new { }, new { @class = "btn btn-primary" })</p>
</main>
