@model FifteenGame.Web.Models.GameViewModel

@{
    ViewBag.Title = "Погаси свет";
    bool isGameOver = (bool?)ViewBag.IsGameOver ?? false;
}

<main>
    <h2>Погаси свет</h2>

    @if (isGameOver)
    {
        <h2 class="text-success">Победа! Все лампочки погашены.</h2>

        <div>
            @Html.ActionLink("Повторить", "Index", new {}, new { @class = "btn btn-success" })
        </div>
    }

    <div class="light-board">
        @for (int row = 0; row < Model.RowCount; row++)
        {
            <div class="light-row">
                @for (int column = 0; column < Model.ColumnCount; column++)
                {
                    <a class="@Model.Cells[row, column].CssClass"
                       href="@Url.Action("MakeMove", "Game", new { row, column })">
                        @Model.Cells[row, column].Text
                    </a>
                }
            </div>
        }
    </div>
</main>
