@model MinesweeperWeb.Models.GameViewModel

@{
    ViewData["Title"] = "Сапёр";
}

<h1>Сапёр</h1>

@if (Model.IsGameOver)
{
    <div class="alert alert-danger">Game Over! You hit a mine.</div>
}
else if (Model.IsWin)
{
    <div class="alert alert-success">Congratulations! You won!</div>
}

<button id="restartButton" class="btn btn-primary mb-3">Restart Game</button>

<div id="gameField">
    @for (int i = 0; i < Model.Field.Count; i++)
    {
        <div style="display: flex;">
            @for (int j = 0; j < Model.Field[i].Count; j++)
            {
                var cell = Model.Field[i][j];
                <button class="cell" data-row="@cell.Row" data-col="@cell.Col" style="width: 40px; height: 40px; margin: 1px;">
                    @if (cell.IsFlagged)
                    {
                        <span>F</span>
                    }
                    else if (cell.IsOpen)
                    {
                        if (cell.IsMine)
                        {
                            <span>*</span>
                        }
                        else if (cell.NeighborMines > 0)
                        {
                            <span>@cell.NeighborMines</span>
                        }
                    }
                </button>
            }
        </div>
    }
</div>

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Обработчик клика по ячейке (открытие)
            $(".cell").on("click", function (e) {
                e.preventDefault();
                var row = $(this).data("row");
                var col = $(this).data("col");
                $.post("/Game/OpenCell", { row: row, col: col }, function (data) {
                    updateField(data);
                });
            });

            // Обработчик правого клика (флаг)
            $(".cell").on("contextmenu", function (e) {
                e.preventDefault();
                var row = $(this).data("row");
                var col = $(this).data("col");
                $.post("/Game/FlagCell", { row: row, col: col }, function (data) {
                    updateField(data);
                });
            });

            // Обработчик перезапуска
            $("#restartButton").on("click", function () {
                $.post("/Game/RestartGame", function (data) {
                    updateField(data);
                });
            });

            // Обновление поля
            function updateField(data) {
                $("#gameField").empty();
                var html = "";
                for (var i = 0; i < data.field.length; i++) {
                    html += '<div style="display: flex;">';
                    for (var j = 0; j < data.field[i].length; j++) {
                        var cell = data.field[i][j];
                        html += '<button class="cell" data-row="' + cell.row + '" data-col="' + cell.col + '" style="width: 40px; height: 40px; margin: 1px;">';
                        if (cell.isFlagged) {
                            html += '<span>F</span>';
                        } else if (cell.isOpen) {
                            if (cell.isMine) {
                                html += '<span>*</span>';
                            } else if (cell.neighborMines > 0) {
                                html += '<span>' + cell.neighborMines + '</span>';
                            }
                        }
                        html += '</button>';
                    }
                    html += '</div>';
                }
                $("#gameField").html(html);

                // Обновляем обработчики событий
                $(".cell").off("click").on("click", function (e) {
                    e.preventDefault();
                    var row = $(this).data("row");
                    var col = $(this).data("col");
                    $.post("/Game/OpenCell", { row: row, col: col }, function (data) {
                        updateField(data);
                    });
                });

                $(".cell").off("contextmenu").on("contextmenu", function (e) {
                    e.preventDefault();
                    var row = $(this).data("row");
                    var col = $(this).data("col");
                    $.post("/Game/FlagCell", { row: row, col: col }, function (data) {
                        updateField(data);
                    });
                });

                // Обновляем статус игры
                if (data.isGameOver) {
                    $("#gameField").before('<div class="alert alert-danger">Игра окончена! Вы подорвались на мине.</div>');
                } else if (data.isWin) {
                    $("#gameField").before('<div class="alert alert-success">Поздравляю! Ты победил!</div>');
                }
            }
        });
    </script>
}