@{
    ViewBag.Title = "О нашей игре";
}
<main aria-labelledby="title" class="game-container">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Почему овощи?</h3>

    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Польза овощей для здоровья</h4>
            <p>Овощи - важнейший источник витаминов, минералов и клетчатки в нашем рационе:</p>
            <ul>
                <li><strong>Помидоры</strong> - богаты ликопином, который полезен для сердца</li>
                <li><strong>Морковь</strong> - содержит бета-каротин, полезный для зрения</li>
                <li><strong>Брокколи</strong> - отличный источник антиоксидантов</li>
                <li><strong>Картофель</strong> - богат калием и витамином C</li>
                <li><strong>Огурцы</strong> - помогают поддерживать водный баланс</li>
                <li><strong>Перец</strong> - содержит много витамина C</li>
                <li><strong>Лук и чеснок</strong> - обладают антибактериальными свойствами</li>
            </ul>
        </div>
        <div class="col-md-6">
            <h4>О нашей игре</h4>
            <p>Игра "Овощная головоломка" - это увлекательная игра на память, которая также помогает изучить разные виды овощей.</p>
            <p>Правила просты:</p>
            <ol>
                <li>Нажимайте на карточки, чтобы увидеть скрытые овощи</li>
                <li>Запоминайте расположение каждого овоща</li>
                <li>Найдите два одинаковых овоща</li>
                <li>Собранные пары исчезают с поля</li>
                <li>Победите, когда найдёте все пары!</li>
            </ol>
            <p><a href="/Game" class="btn btn-primary">Начать игру</a></p>
        </div>
    </div>
</main>