@{
    ViewBag.Title = "Контакты";
}
<main aria-labelledby="title" class="game-container">
    <h2 id="title">@ViewBag.Title</h2>
    <h3>Свяжитесь с командой Овощной головоломки</h3>

    <div class="row mt-4">
        <div class="col-md-6">
            <h4>Наш адрес</h4>
            <address>
                Овощная улица, 15<br />
                Город Урожайный<br />
                <abbr title="Телефон">Тел.:</abbr>
                123-456-789
            </address>

            <h4>Связь с нами</h4>
            <address>
                <strong>Поддержка:</strong> <a href="mailto:support@vegetablepuzzle.com">support@vegetablepuzzle.com</a><br />
                <strong>Предложения:</strong> <a href="mailto:feedback@vegetablepuzzle.com">feedback@vegetablepuzzle.com</a>
            </address>
        </div>
        <div class="col-md-6">
            <h4>Наши социальные сети</h4>
            <p>Следите за нами в социальных сетях, чтобы узнавать о новых играх и обновлениях:</p>
            <ul class="list-unstyled">
                <li><a href="#" class="text-success">Facebook</a></li>
                <li><a href="#" class="text-success">Instagram</a></li>
                <li><a href="#" class="text-success">Twitter</a></li>
            </ul>
            
            <h4>Играйте в Овощную головоломку!</h4>
            <p>Проверьте свою память и знание овощей в нашей увлекательной игре.</p>
            <p><a href="/Game" class="btn btn-primary">Начать игру</a></p>
        </div>
    </div>
</main>