@{
    ViewBag.Title = "Главная страница";
}

<main class="game-container">
    <section class="row text-center" aria-labelledby="gameTitle">
        <h1 id="title" class="animate-grow">Овощная головоломка</h1>
        <p class="lead">Увлекательная игра на память, где вам предстоит найти пары одинаковых овощей!</p>
        <p><a href="/Game" class="btn btn-primary btn-lg">Начать игру &raquo;</a></p>
    </section>

    <div class="row mt-5">
        <section class="col-md-4" aria-labelledby="howToPlayTitle">
            <h2 id="howToPlayTitle">Как играть</h2>
            <p>
                Нажимайте на карточки, чтобы увидеть скрытые овощи. Если вы найдете два одинаковых
                овоща подряд, они исчезнут с поля. Ваша задача - найти все пары овощей!
            </p>
            <p><a class="btn btn-outline-success" href="/Game">Начать игру &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="benefitsTitle">
            <h2 id="benefitsTitle">Польза овощей</h2>
            <p>Овощи - важная часть здорового питания! Они содержат витамины, минералы и клетчатку, необходимые для здоровья.</p>
            <p><a class="btn btn-outline-success" href="/Home/About">Узнать больше &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="vegetablesTitle">
            <h2 id="vegetablesTitle">Наши овощи</h2>
            <p>В игре вы встретите различные овощи: помидоры, морковь, картофель, огурцы, брокколи, перец, лук и чеснок!</p>
            <p><a class="btn btn-outline-success" href="/Game">Играть сейчас &raquo;</a></p>
        </section>
    </div>
</main>