
@{
    ViewBag.Title = "Приветствие";
}

<main>
    <h2>Приветствие</h2>

    <div>Всем хорошего дня!</div>

    <div>@Html.ActionLink("Привет?", "Hello", "Greeting")</div>

    @if (!string.IsNullOrEmpty(ViewBag.Greeting))
    {
        <div>@ViewBag.Greeting</div>
    }
</main>
