@{
    ViewBag.Title = "Главная";
}

<main>
    <h2>Добро пожаловать в Lights Out!</h2>
    <p>Классическая головоломка: выключите все горящие лампочки.</p>
    <a class="btn btn-success" href="@Url.Action("Index", "Game")">Начать игру</a>
</main>
